* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

th {
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
}

td {
  padding-right: 0.5em;
  padding-left: 0.5em;
  border: 1px solid black;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
  font-weight: normal;
  margin-bottom: 0.2em;
  text-align: left;
}

.title a {
  text-decoration: none;
}

.title a:link, .title a:visited, .title a:hover, .title a:active {
  color: black;
}

.subtitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: left;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote {
  background: lightgrey;
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

ul {
  padding-left: 1em
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  text-align: left
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

#date {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  margin-bottom: 2em;
}

#post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site {
  margin: 2em auto 2em auto;
  width: 42em;
}

.page {
  margin-left: 20px;
  margin-right: 20px;
}
